h1 
{
  color: blue;
<<<<<<< HEAD
  text-align: center;
}

h2 
{
  font-style: italic;
  text-align: center;
}

p 
{
  font-family: sans-serif;
}

ul 
{
  font-size: 20px;
  line-height: 30px;
=======
>>>>>>> 3abd34a3bfa56c810e60c9c5cb1baef48be52ad9
}